html,
body,
ul,
li,
h1,
h2,
h3,
h4,
span,
div,
p,
a,
form,
input {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  border: none;
}
img {
  display: block;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#wrap {
  position: relative;
  font-size: 0.23703704rem;
  height: 100%;
  overflow: hidden;
  background-color: #eee;
}
#wrap .head {
  position: absolute;
  width: 100%;
  height: 4rem;
  background: #232323;
}
#wrap .head .head-top {
  height: 2rem;
}
#wrap .head .head-top .logo {
  float: left;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem 0.25185185rem;
}
#wrap .head .head-top .logo img {
  width: 3.55555556rem;
  height: 1.3037037rem;
}
#wrap .head .head-top .head-breadcrumbs {
  float: left;
  width: 1.91111111rem;
  height: 100%;
  background: url(../img/menuBtn.png) no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
  background-position: center 0.23703704rem;
}
#wrap .head .head-top .head-breadcrumbs.active {
  background-position: center -1.77777778rem;
}
#wrap .head .head-top .head-btns {
  float: right;
  padding-top: 0.31111111rem;
}
#wrap .head .head-top .head-btns a {
  float: left;
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background: #690;
  color: #ccc;
  font-size: 0.62222222rem;
  border-radius: 0.11851852rem;
  margin-right: 0.22222222rem;
  text-align: center;
}
#wrap .head .head-top .head-btns a.search {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  color: #fff;
  margin: 0.04444444rem 0.44444444rem 0 0;
  font-weight: bold;
  border-radius: 0.14814815rem;
}
#wrap .head .head-bottom {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#wrap .head .head-bottom form {
  height: 100%;
}
#wrap .head .head-bottom form input[type='text'] {
  float: left;
  box-sizing: border-box;
  height: 1.52592593rem;
  width: 12.28148148rem;
  background-color: #999;
  padding: 0.07407407rem 0.14814815rem;
  border: 0.01481481rem solid #5a5a5a;
  font-size: 0.60740741rem;
  color: #333;
  border-radius: 0.22222222rem;
}
#wrap .head .head-bottom form input[type='text']::-webkit-input-placeholder {
  color: #333;
}
#wrap .head .head-bottom form input[type='text']:focus {
  background-color: #fff;
}
#wrap .head .head-bottom form input[type='submit'] {
  float: right;
  width: 3.00740741rem;
  height: 1.52592593rem;
  background-color: #414040;
  color: #fff;
  font-size: 0.60740741rem;
  border-radius: 0.22222222rem;
}
#wrap .head .head-mask {
  position: relative;
  position: absolute;
  width: 100%;
  left: 0;
  top: 2rem;
  padding: 0.14814815rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
}
#wrap .head .head-mask::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 100%;
  background: #6a6a6a;
  height: 1px;
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  #wrap .head .head-mask::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (device-pixel-ratio: 2) {
  #wrap .head .head-mask::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (device-pixel-ratio: 3) {
  #wrap .head .head-mask::before {
    transform: scaleY(0.33333333);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  #wrap .head .head-mask::before {
    transform: scaleY(0.33333333);
  }
}
#wrap .head .head-mask li {
  float: left;
  width: 25%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.74074074rem;
  text-align: center;
}
#wrap .head .head-mask li a {
  color: #fff;
}
#wrap .content {
  position: absolute;
  background-color: pink;
  top: 4rem;
  bottom: 0;
  right: 0;
  left: 0;
}
#wrap .content .nav {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 2.62222222rem;
  background-color: #eee;
  padding: 0.45925926rem 0 0.20740741rem 0;
  border-bottom: 0.01481481rem;
}
#wrap .content .nav::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  background: #6a6a6a;
  height: 1px;
}
@media only screen and (-webkit-device-pixel-ratio: 2) {
  #wrap .content .nav::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (device-pixel-ratio: 2) {
  #wrap .content .nav::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (device-pixel-ratio: 3) {
  #wrap .content .nav::before {
    transform: scaleY(0.33333333);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  #wrap .content .nav::before {
    transform: scaleY(0.33333333);
  }
}
#wrap .content .nav .nav-items {
  font-size: 0;
  white-space: nowrap;
  float: left;
}
#wrap .content .nav .nav-items > li {
  display: inline-block;
  height: 1.91111111rem;
  padding: 0 0.56296296rem;
  font-size: 1rem;
  line-height: 1.91111111rem;
}
#wrap .content .nav .nav-items > li a {
  color: #020202;
}
#wrap .content .nav .nav-items > li.active {
  background-color: #690;
  border-radius: 0.11851852rem;
}
#wrap .content .nav .nav-items > li.active a {
  color: #fff;
}
/*# sourceMappingURL=./tai.css.map */